<header>
  <div class="navbar bg-primary shadow-sm">

    <div class="navbar-brand align-item-center d-flex">
       <i class="fas fa-shipping-fast">
        &nbsp;
        <strong>FastDeliver</strong>
       </i>
      <div class="form-group">
           <input type="text" placeholder="search products" class="form-control">
      </div>
      <span class="fas fa-search search-icon"></span>

    </div>
    <button class="btn btn-primary" routerLink="cart">
        <i class="fas fa-cart-plus" style="font-size: 30px;"></i>
        <div class="badge bg-danger" style="font-size: 15px;">{{ totalItems }} </div>
    </button>
  </div>
</header>
